<aside class="col-md-3">
    <!--   SIDEBAR   -->
    {% if not users.is_admin %}
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %} active {% endif%}" href="{% url 'dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/my_orders/' in request.path %} active {% endif %}" href="{% url 'my_orders' %}"> Mis Pedidos </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path %} active {% endif %}" href="{% url 'edit_profile' %}"> Editar Perfil </a>
        <a class="list-group-item {% if '/change_password/' in request.path %} active {% endif %}" href="{% url 'change_password' %}"> Cambiar Password </a>
    </ul>
    {% else %}
    <div style="margin-bottom:10px;color:white;background-color:#2D862B;border-radius: 25px;text-align:center"><strong>Menu de Administrador</strong></div>
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %} active {% endif%}" href="{% url 'dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/nuevo_producto/' in request.path %} active {% endif %}" href="#" style="background-color:silver;" disabled> Agregar Nuevo Producto </a><!--{% url 'nuevo_producto' %}-->
        <a class="list-group-item {% if '/my_orders/' in request.path %} active {% endif %}" href="{% url 'my_orders' %}"> Ver Pedidos Realizados </a>
        <a class="list-group-item {% if '/edit_profile/' in request.path %} active {% endif %}" href="{% url 'edit_profile' %}"> Editar Perfil </a>
        <a class="list-group-item {% if '/change_password/' in request.path %} active {% endif %}" href="{% url 'change_password' %}"> Cambiar Password </a>
    </ul>
    {% endif %}
    
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Salir de sesion</span> </a>
    <!--   SIDEBAR .//END   -->
</aside>
